*{
    margin : 0;
    padding : 0;
}
body{
    background-color: #faedcd;
    text-align: center;
}
#heading{
    margin-top : 30px;
    font-size : 40px;
}
.container{
    height: 70vh;
    display : flex;
    justify-content: center;
    align-items: center;
}
.game{
    height : 60vmin;
    width : 60vmin;
    display : flex;
    flex-wrap : wrap;
    justify-content: center;
    align-items: center;
    gap :1.5vmin;
}
.box{
    height : 18vmin;
    width : 18vmin;
    border-radius: 1rem;
    border : none;
    box-shadow : 0 0 1rem rgb(211, 163, 115,0.2);
    font-size : 8vmin;
    color : #d4a373;
    background-color: #fefae0;

}
#reset-btn{
    padding : 1rem;
    font-size : 1.25rem;
    background-color: #d4a373;
    border :none;
    border-radius: 0.5rem;
}
#reset-btn:hover{
    color :white;
    background-color: #936b42;
}
#new-btn{
    padding : 1rem;
    margin-top : 20px;
    font-size : 1.25rem;
    background-color: #d4a373;
    border :none;
    border-radius: 0.5rem;
}
#new-btn:hover{
    color :white;
    background-color: #936b42;
}
#msg{
    margin-top : 30px;
    color : #936b42;
    font-size: 5vmin;
}
.msg-container{
    height :100vmin;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap : 4rem;

}
.hide{
    display : none;
}